/* height of hte map */
#map {
  height: 90%;
}

/*Makes the main page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

/* Chat board CSS */
.chatBubble {
  display: flex;
  justify-content: space-between;
}

.messageBoard li {
  display: inline;
}

.chatTimeStamp {
  font-size: 0.5em;
}

.messageSpace {
  width: 50%;
  float: left;
}

.chatArea {
  border: 1px solid;
  padding: 10px;
  margin-top: 5px;
}

/* Navbar CSS */

.nav-item {
  text-align: right;
}

nav {
  color: aliceblue;
  height: 10%;
}

#dname {
  color: blue;
}

.createMsg {
  display: none;
}

/* Important part */
.modal-dialog {
  overflow-y: initial !important;
}

.modal-body {
  height: 450px;
  overflow-y: auto;
}
.heading-font {
  color: #fff;
}
