/* height of hte map */
#map {
  height: 100%;
}

/*Makes the main page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}
#infowindow-content .title {
  font-weight: bold;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}
.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}

/* Chat board CSS */
.chatBubble {
  display: flex;
  justify-content: space-between;
}

.messageBoard li {
  display: inline;
}

.chatTimeStamp {
  font-size: 0.5em;
}

.messageSpace {
  width: 50%;
  float: left;
}

.chatArea {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
  margin-top: 5px;
}

/* Navbar CSS */

.nav-item {
  text-align: right;
}

nav {
  color: aliceblue;
}

#dname {
  color: blue;
}

.btn {
  margin-top: 10px;
}

.createMsg {
  display: none;
}

/* .createName {
  display: none;
} */

.user {
  font-weight: 600;
  color: black;
}




/* .modal-fullscreen{
  padding: 0 !important;
  
} */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #3c7dcf;
  border-radius: 0;
  box-shadow: none;
}

.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #6598d9;
  border: 0;
}

.modal-title {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px;
}

.modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}

.modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
}




/* resturant image styles */
.restImg{
  max-height:300px;
  max-width:1400px;
  min-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
}


.star{
  color: goldenrod;
  font-size: 2rem;
  padding: 0 1rem;
}

.star::before{
  content: '\2606';
}

.star.rated::before{
  content: '\2605';
}

/* .stars{
  counter-reset: rateme 0;
  font-size: 2.0rem;
  font-weight: 900;

}
.star.rated{
  counter-increment: rateme 1;
}
.stars::after{
  content: counter(rateme)
} */