/* height of hte map */
#map {
height: 100%;
}
/*Makes the main page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0;
}

/* Chat board CSS */
.chatBubble {
    display: block;
}

.messageBoard li {
    display: inline;
}